<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enter_feishengge.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,358},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>enter_heishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,318},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>enter_hunyuanta.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,278},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>enter_juyitang.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,238},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>enter_xiaojinghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,198},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>enter_yanwuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,158},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>header_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,463},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>header_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,147},{314,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,137}}</string>
                <key>sourceSize</key>
                <string>{314,137}</string>
            </dict>
            <key>header_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,124},{152,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,21}}</string>
                <key>sourceSize</key>
                <string>{152,21}</string>
            </dict>
            <key>header_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{156,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>header_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,398},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iheader_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,596},{82,90}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iheader_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,670},{78,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{78,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iheader_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,516},{68,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{68,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iheader_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,688},{76,84}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iheader_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,751},{74,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{74,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iheader_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,750},{86,88}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iheader_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,675},{74,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,89}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>mainIndex.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>tabbar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,76},{80,105}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>tabbar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,594},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,91}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>tabbar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,515},{72,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{72,101}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>tabbar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,589},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>tabbar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,516},{76,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{76,95}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>tabbar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{72,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,109}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>tabbar_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,774},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>tabbar_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,827},{73,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466e33c9bb4787ff309bdddd37dc16c2:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain.png</string>
        </dict>
    </dict>
</plist>
