<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>hp_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,9},{80,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,5}}</string>
                <key>sourceSize</key>
                <string>{80,5}</string>
            </dict>
            <key>hp_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{80,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,5}}</string>
                <key>sourceSize</key>
                <string>{80,5}</string>
            </dict>
            <key>seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{106,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BattleMain.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03ec84cc63c98b811f259a5d407b782d:1/1$</string>
            <key>textureFileName</key>
            <string>BattleMain.png</string>
        </dict>
    </dict>
</plist>
